@media only screen and (max-width: 1426px) {
  .chefsItem {
    margin-right: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .chefsItem {
    margin-right: 15px;
  }

  .chefs_name {
    font-size: 10px;
    line-height: 18px;
  }

  .chefs_info {
    font-size: 10px;
  }

  .chef_img {
    max-width: 40px;
  }
}
