.info {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-right: 30px;
}

.content {
  font-size: 16px;
  line-height: 30px;
  margin-top: 6px;
}

.description {
  font-size: 14px;
  opacity: 0.5;
  margin-top: 4px;
}
